services:
  user:
    container_name: user-service
    build:
      context: ./user
      dockerfile: Dockerfile
    command: npm run start:dev
    ports:
      - 3001:3001
    volumes:
      - ./user:/app
    environment:
      - NODE_ENV=development
    depends_on:
      - postgres-user
    networks:
      - microservices-net
  postgres-user:
    image: postgres:16-alpine
    container_name: postgres-user
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: user
      PGDATA: /var/lib/postgresql/data/pgdata 
    volumes:
      - postgres-user-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - microservices-net
volumes:
  postgres-user-data:

networks:
  microservices-net:
    driver: bridge